@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#root{
text-align: center;
min-height: 100vh;
display: flex;
flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1a1a1a;
}

.nav-bg{
  background:  #272727;
 
}
h1 {
  color: #fff;
}
.banner-contain{
  h1{
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
}


